
#menu,
#random,
#start {
    cursor: pointer;
}

.center {
    margin: 0 auto;
    box-shadow: rgba(0, 0, 0, 0.16) 0 1px 4px; /* Added shadow to make page border free */
    height: 420px;
    width: 410px;
    max-height: 731px;
}
.array {
    display: flex;
    align-items: flex-start;
    min-height: 100%;
    height: 100%;
    padding: 1rem;
    flex-direction: row;
}
.cell {
    display: flex;
    align-items: flex-start;
    flex: 0.5;
    width: 0.000001%;
    margin: 1px;
    background-color: #d6d6d6;
    resize: horizontal;
    position: relative;
    transition: all 0.4s ease-in;
}
.cell.done {
    background-color: #9cec5b;
    border-color: #9cec5b;
    color: white;
    transition: all 0.4s ease-out;
}
.cell.visited {
    border-color: #6184d8;
    background-color: #6184d8;
    color: white;
    transition: 0.5s;
}
.cell.current {
    border-color: #50c5b7;
    background-color: #50c5b7;
    color: white;
    transition: all 0.4s ease-out;
}
.cell.min {
    background-color: #ff1493;
    border-color: #ff1493;
    color: white;
    transition: all 0.4s ease-out;
}